<div class="container">
    <form [formGroup]="gestionarPersonaForm">
        <h1>Gestionar Persona</h1>
        <hr>

        <div class="row">
            <div class="col-6">
                <label for="idPersona">Id:</label>
                <input type="text" class="form-control" id="idPersona" formControlName="id"
                     maxlength="50">
                <div *ngIf="submitted && f.nombre.errors">
                    <span class="text-danger" *ngIf="f.nombre.errors.required">Campo requerido.</span>
                </div>
            </div>
            <div class="col-6">
                    <label for="nombrePersona">Nombre:</label>
                    <input type="text" class="form-control" id="nombrePersona" formControlName="nombre"
                        [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" maxlength="50">
                    <div *ngIf="submitted && f.nombre.errors">
                        <span class="text-danger" *ngIf="f.nombre.errors.required">Campo requerido.</span>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="tematica">Numero de Identificacion:</label>
                    <input type="text" class="form-control" id="numIdentificacionPersona" formControlName="identificacion"
                        [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" maxlength="50">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <span></span>
            </div>
            <div class="col-3 text-left">
                <button type="button" class="btn btn-primary" (click)="crearPersona()" >Crear</button>
            </div>
            <div class="col-3 text-right">
                <button type="button" class="btn btn-primary" (click)="editarPersona()" >Editar</button>
            </div>
        </div>

        <br>
        
        <div class="row" [hidden]="listaPersonas.length === 0">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Numero Identificacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--date:"MM/dd/yy"
                        | uppercase-->
                        <tr *ngFor="let persona of listaPersonas;let i=index;">
                            <th scope="row">{{persona.id}}</th>
                            <td>{{persona.nombre | uppercase }}</td>
                            <td>{{persona.numIdentificacionPersona | lowercase }}</td>
                            <td>
                                <i class="fas fa-search 2x ml-1" [routerLink]="['/consultar-persona',comic]" title="Consultar"></i>
                                <i class="fas fa-pencil-alt 2x ml-1"  (click)="cargarDatosPersona(i)" title="Editar"></i>
                                <i class="far fa-times-circle 2x ml-1" (click)="borrarPersona(i)" title="Eliminar"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>

</div>